In [1]:
print('Hello from Jupyter')

Hello from Jupyter

In [2]:
my_str = 'Hello'
my_int = 16

print(my_str)
print(my_int)

Hello
16

In [3]:
my_str

'Hello'

In [4]:
number_of_apples = 5

if number_of_apples < 1:
    print('You have no apples')
elif number_of_apples == 1:
    print('You have one apple')
elif number_of_apples < 4:
    print('You have a few apples')
else:
    print('You have many apples!')

You have many apples!

In [5]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']
student_names[0]

'Alice'

In [6]:
student_names[2:]

['Carol', 'Dave']

In [7]:
student_names.append('mostafa')
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'mostafa']

In [8]:
student_names.insert(0, 'sameer')
student_names

['sameer', 'Alice', 'Bob', 'Carol', 'Dave', 'mostafa']

In [9]:
del student_names[2]
student_names

['sameer', 'Alice', 'Carol', 'Dave', 'mostafa']

In [10]:
for item in student_names:
    print('Hello ' + item + '!')

Hello sameer!
Hello Alice!
Hello Carol!
Hello Dave!
Hello mostafa!

In [12]:
long_names = []
for item in student_names:
    # This is our criterion
    if len(item) > 4:
        long_names.append(item)

long_names

['sameer', 'Alice', 'Carol', 'mostafa']

In [13]:
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        student_pairs.append(
            (student_name_0, student_name_1)
        )

student_pairs

[('sameer', 'sameer'),
 ('sameer', 'Alice'),
 ('sameer', 'Carol'),
 ('sameer', 'Dave'),
 ('sameer', 'mostafa'),
 ('Alice', 'sameer'),
 ('Alice', 'Alice'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Alice', 'mostafa'),
 ('Carol', 'sameer'),
 ('Carol', 'Alice'),
 ('Carol', 'Carol'),
 ('Carol', 'Dave'),
 ('Carol', 'mostafa'),
 ('Dave', 'sameer'),
 ('Dave', 'Alice'),
 ('Dave', 'Carol'),
 ('Dave', 'Dave'),
 ('Dave', 'mostafa'),
 ('mostafa', 'sameer'),
 ('mostafa', 'Alice'),
 ('mostafa', 'Carol'),
 ('mostafa', 'Dave'),
 ('mostafa', 'mostafa')]

In [14]:
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        # This is the criterion we added
        if student_name_0 != student_name_1:
            student_pairs.append(
                (student_name_0, student_name_1)
            )

student_pairs

[('sameer', 'Alice'),
 ('sameer', 'Carol'),
 ('sameer', 'Dave'),
 ('sameer', 'mostafa'),
 ('Alice', 'sameer'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Alice', 'mostafa'),
 ('Carol', 'sameer'),
 ('Carol', 'Alice'),
 ('Carol', 'Dave'),
 ('Carol', 'mostafa'),
 ('Dave', 'sameer'),
 ('Dave', 'Alice'),
 ('Dave', 'Carol'),
 ('Dave', 'mostafa'),
 ('mostafa', 'sameer'),
 ('mostafa', 'Alice'),
 ('mostafa', 'Carol'),
 ('mostafa', 'Dave')]

In [15]:
foreign_languages = {
    'Alice': 'Spanish',
    'Bob': 'French',
    'Carol': 'Italian',
    'Dave': 'Italian',
}
foreign_languages['Carol']

'Italian'

In [16]:
'Zeke' in foreign_languages

False

In [17]:
'Alice' in foreign_languages

True

In [18]:
# Add an entry that doesn't exist
foreign_languages['Esther'] = 'French'
foreign_languages

{'Alice': 'Spanish',
 'Bob': 'French',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'French'}

In [19]:
del foreign_languages['Bob']
foreign_languages

{'Alice': 'Spanish', 'Carol': 'Italian', 'Dave': 'Italian', 'Esther': 'French'}

In [20]:
# Change an entry that does exist
foreign_languages['Esther'] = 'Italian'
foreign_languages

{'Alice': 'Spanish',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'Italian'}

In [21]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [22]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [29]:
record = {
    'name': 'Alice',
    'subject': 'Spanish',
    'grade': 'A',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Alice got a grade of A in Spanish

In [30]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

In [32]:
student_grades[1]

('Bob', 'French', 'C')

In [33]:
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)
    
student_grade_records

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Bob', 'subject': 'French', 'grade': 'C'},
 {'name': 'Carol', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}]

In [34]:
student_grade_records[1]

{'name': 'Bob', 'subject': 'French', 'grade': 'C'}

In [35]:
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record
    
foreign_language_grades

{'Alice': {'subject': 'Spanish', 'grade': 'A'},
 'Bob': {'subject': 'French', 'grade': 'C'},
 'Carol': {'subject': 'Italian', 'grade': 'B+'},
 'Dave': {'subject': 'Italian', 'grade': 'A-'}}

In [36]:
foreign_language_grades['Alice']

{'subject': 'Spanish', 'grade': 'A'}

In [37]:
foreign_language_grades['Alice']['grade']

'A'

In [38]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-'}

In [39]:
student_course_grades['Alice', 'Math'] = 'A'
student_course_grades['Alice', 'History'] = 'B'

In [40]:
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}

In [41]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
    # If there is no report card for a student,
    # we need to create a blank one
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade

In [42]:
student_report_cards

{'Alice': {'Spanish': 'A'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

In [43]:
student_report_cards['Alice']['Math'] = 'A'
student_report_cards['Alice']['History'] = 'B'

In [44]:
student_report_cards

{'Alice': {'Spanish': 'A', 'Math': 'A', 'History': 'B'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

In [45]:
student_report_cards['Alice']

{'Spanish': 'A', 'Math': 'A', 'History': 'B'}